<br>
<div class="row clearfix">
    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header">Agregar Cliente</h5>
            <div class="card-body">
                <form class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" ng-model="clients.client.name" placeholder="Nombre del cliente">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cédula</label>
                            <input type="text" class="form-control" ng-model="clients.client.idCard" placeholder="ejemplo: 101110111">
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <button type="submit" class="btn btn-primary" ng-click="clients.add(clients.client)">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">Eliminar Cliente</h5>
            <div class="card-body">
                <form class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Cédula</label>
                            <input type="text" class="form-control" ng-model="clients.idCard" placeholder="Nombre del cliente">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-danger" ng-click="clients.delete(clients.idCard)">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Lista de clientes</h5>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cédula</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in clients.allClients">
                            <td>{{customer.name}}</td>
                            <td>{{customer.idCard}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>