<aside class="asidenav">
    <div class="">
        <h3 style="text-align: center">Sitio ERP</h3>
    </div>
    <div class="">
        <ul class="">
            <li>
                <a href="#!/">Clientes</a>
            </li>
            <li>
                <a href="#!/productos">Productos</a>
            </li>
            <li>
                <a href="#!/inventario">Inventario</a>
            </li>
            <li>
                <a href="#!/facturacion">Facturación</a>
            </li>
        </ul>
    </div>
</aside>