<br>
<div class="row clearfix">
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Factura</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h6>Sistema ERP</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Encabezado</label>
                            <input type="text" class="form-control form-control-sm" ng-model="invoice.bill.cliente" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Fecha</label>
                            <input type="date" class="form-control form-control-sm" ng-model="invoice.bill.fecha" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Impuestos: </label>
                            {{invoice.taxes}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Subtotal: </label>
                            {{invoice.subTotal}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Total: </label>
                            {{invoice.total}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Detalle</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                    <td scope="col">Acción</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="invoice.product.id" placeholder="">
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" ng-model="invoice.product.cantidad" placeholder="">
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-primary btn-sm" ng-click="invoice.addDetail(invoice.product)">Agregar</button>
                                        </div>
                                    </td>

                                </tr>
                                <tr ng-repeat="product in invoice.detail">
                                    <td>{{product.idProducto}}</td>
                                    <td>{{product.nombre}}</td>
                                    <td>{{product.cantidad}}</td>
                                    <td>{{product.precio}}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="invoice.delete($index, product)">Eliminar</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm" ng-click="invoice.add(invoice.bill)">Añadir Factura</button>
                                    </td>
                                </th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Lista de facturas</h5>
            <div class="card-body">
                <table class="table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Impuestos</th>
                            <th scope="col">Monto Total</th>
                            <th scope="col">Acción</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="i in invoice.allInvoices">
                            <td>{{i.id}}</td>
                            <td>{{i.cliente}}</td>
                            <td>{{i.fecha}}</td>
                            <td>{{i.subtotal}}</td>
                            <td>{{i.impuestos}}</td>
                            <td>{{i.montoTotal}}</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="invoice.deleteF(i.id)">Deshabilitar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>