@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
  font-family: 'Rubik', sans-serif;
}

.header {
  width: 100%;
}

.nav {
  position: fixed;
  background-color: #a0abb2;
  /* rgb(216, 211, 211) */
}

.asidenav {
  position: fixed;
  width: 15%;
  height: 100%;
  top: 7.4%;
  right: 0;
  background-color: #a0abb2;
}

.sectionContent {
  margin-top: 2.5%;
  width: 85%;
  background-color: #fff;
  /*#ccd0d3*/
  overflow-y: auto;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
}